USE [Hotel_Management]
GO
/****** Object:  Table [dbo].[ChiTietDichVu]    Script Date: 12/8/2022 21:54:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietDichVu](
	[MaChiTiet] [varchar](20) NOT NULL,
	[MaPhieuDichVu] [varchar](20) NULL,
	[MaSanPham] [varchar](20) NULL,
	[SoLuongBan] [int] NULL,
	[GiaTien] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaChiTiet] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietNhapkho]    Script Date: 12/8/2022 21:54:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietNhapkho](
	[MaChiTietNhapKho] [varchar](20) NOT NULL,
	[MaNhapKho] [varchar](20) NULL,
	[MaSanPham] [varchar](20) NULL,
	[SoLuong] [int] NULL,
	[GiaNhap] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaChiTietNhapKho] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChucVu]    Script Date: 12/8/2022 21:54:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChucVu](
	[MaChucVu] [varchar](20) NOT NULL,
	[TenChucVu] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaChucVu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DatPhong]    Script Date: 12/8/2022 21:54:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DatPhong](
	[MaPhieuDat] [varchar](20) NOT NULL,
	[MaLoaiPhong] [varchar](20) NULL,
	[LoaiKhach] [nvarchar](30) NULL,
	[MaNhanVien] [varchar](20) NULL,
	[NgayTao] [datetime] NULL,
	[NgayDen] [datetime] NULL,
	[NgayDi] [datetime] NULL,
	[TenKhachHang] [nvarchar](50) NULL,
	[SoLuongKhach] [int] NULL,
	[SoDienThoai] [varchar](20) NULL,
	[GhiChu] [nvarchar](100) NULL,
	[TienCoc] [money] NULL,
	[TrangThai] [nvarchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPhieuDat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 12/8/2022 21:54:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[MaHoaDon] [varchar](20) NOT NULL,
	[MaPhieuThue] [varchar](20) NULL,
	[NgayTao] [datetime] NULL,
	[MaNhanVien] [varchar](20) NULL,
	[TienPhong] [money] NULL,
	[TienDichVu] [money] NULL,
	[TienCoc] [money] NULL,
	[MaPhuongThuc] [varchar](20) NULL,
	[TienKhachDua] [money] NULL,
	[TienTraLai] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHoaDon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiPhong]    Script Date: 12/8/2022 21:54:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiPhong](
	[MaLoaiPhong] [varchar](20) NOT NULL,
	[TenLoaiPhong] [nvarchar](50) NULL,
	[GiaGio] [money] NULL,
	[GiaNgay] [money] NULL,
	[SoGiuong] [int] NULL,
	[SoNguoi] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLoaiPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiSanPham]    Script Date: 12/8/2022 21:54:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiSanPham](
	[MaLoaiSanPham] [varchar](20) NOT NULL,
	[TenLoaiSanPham] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLoaiSanPham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiTienChi]    Script Date: 12/8/2022 21:54:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiTienChi](
	[MaLoaiTienChi] [varchar](20) NOT NULL,
	[TenLoaiTienChi] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLoaiTienChi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 12/8/2022 21:54:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MaNhanVien] [varchar](20) NOT NULL,
	[TenNhanVien] [nvarchar](50) NULL,
	[GioiTinh] [bit] NULL,
	[NgaySinh] [datetime] NULL,
	[SoDienThoai] [varchar](20) NULL,
	[CMND] [varchar](20) NULL,
	[MaChucVu] [varchar](20) NULL,
	[Luong] [money] NULL,
	[NgayTao] [datetime] NULL,
	[TrangThaiNhanVien] [bit] NULL,
	[HinhAnh] [image] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNhanVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhapKho]    Script Date: 12/8/2022 21:54:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhapKho](
	[MaNhapKho] [varchar](20) NOT NULL,
	[MaNhanVien] [varchar](20) NULL,
	[NgayTao] [datetime] NULL,
	[GhiChu] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNhapKho] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuChi]    Script Date: 12/8/2022 21:54:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuChi](
	[MaPhieuChi] [varchar](20) NOT NULL,
	[MaLoaiTienChi] [varchar](20) NULL,
	[TienChi] [money] NULL,
	[MaPhuongThuc] [varchar](20) NULL,
	[GhiChu] [nvarchar](100) NULL,
	[NgayTao] [datetime] NULL,
	[MaNhanVien] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPhieuChi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuDichVu]    Script Date: 12/8/2022 21:54:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuDichVu](
	[MaPhieuDichVu] [varchar](20) NOT NULL,
	[MaPhieuThue] [varchar](20) NULL,
	[MaNhanVien] [varchar](20) NULL,
	[NgayTao] [datetime] NULL,
	[GhiChu] [nvarchar](100) NULL,
	[TrangThaiThanhToan] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPhieuDichVu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Phong]    Script Date: 12/8/2022 21:54:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Phong](
	[MaPhong] [varchar](20) NOT NULL,
	[TenPhong] [nvarchar](50) NULL,
	[MaTang] [varchar](20) NULL,
	[MaLoaiPhong] [varchar](20) NULL,
	[MaTrangThaiPhong] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhuongThucThanhToan]    Script Date: 12/8/2022 21:54:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhuongThucThanhToan](
	[MaPhuongThuc] [varchar](20) NOT NULL,
	[TenPhuongThuc] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPhuongThuc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 12/8/2022 21:54:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham](
	[MaSanPham] [varchar](20) NOT NULL,
	[TenSanPham] [nvarchar](50) NULL,
	[MaLoaiSanPham] [varchar](20) NULL,
	[DonViTinh] [nvarchar](50) NULL,
	[GiaBan] [money] NULL,
	[NgayTao] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSanPham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 12/8/2022 21:54:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[MaTaiKhoan] [varchar](20) NOT NULL,
	[MaNhanVien] [varchar](20) NULL,
	[TenDangNhap] [varchar](50) NULL,
	[MatKhau] [varchar](50) NULL,
	[CheckDangNhap] [bit] NULL,
	[TimeLogIn] [datetime] NULL,
	[TimeLogOut] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTaiKhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tang]    Script Date: 12/8/2022 21:54:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tang](
	[MaTang] [varchar](20) NOT NULL,
	[TenTang] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThuePhong]    Script Date: 12/8/2022 21:54:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThuePhong](
	[MaPhong] [varchar](20) NULL,
	[MaPhieuThue] [varchar](20) NOT NULL,
	[MaNhanVien] [varchar](20) NULL,
	[NgayTao] [datetime] NULL,
	[NgayDen] [datetime] NULL,
	[NgayDi] [datetime] NULL,
	[CMND] [varchar](20) NULL,
	[TenKhachHang] [nvarchar](50) NULL,
	[SoLuongKhach] [int] NULL,
	[GhiChu] [nvarchar](100) NULL,
	[TienCoc] [money] NULL,
	[GiamGia] [money] NULL,
	[HinhAnh] [image] NULL,
	[TrangThaiThanhToan] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPhieuThue] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TrangThaiPhong]    Script Date: 12/8/2022 21:54:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TrangThaiPhong](
	[MaTrangThaiPhong] [varchar](20) NOT NULL,
	[TenTrangThaiPhong] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTrangThaiPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[ChiTietDichVu] ([MaChiTiet], [MaPhieuDichVu], [MaSanPham], [SoLuongBan], [GiaTien]) VALUES (N'CT221207001', N'DV221207141808', N'SP001', 2, 8000.0000)
INSERT [dbo].[ChiTietDichVu] ([MaChiTiet], [MaPhieuDichVu], [MaSanPham], [SoLuongBan], [GiaTien]) VALUES (N'CT221207002', N'DV221207141808', N'SP002', 3, 9000.0000)
INSERT [dbo].[ChiTietDichVu] ([MaChiTiet], [MaPhieuDichVu], [MaSanPham], [SoLuongBan], [GiaTien]) VALUES (N'CT221207003', N'DV221207141817', N'SP001', 1, 8000.0000)
GO
INSERT [dbo].[ChiTietNhapkho] ([MaChiTietNhapKho], [MaNhapKho], [MaSanPham], [SoLuong], [GiaNhap]) VALUES (N'NK221206001', N'PN221206001', N'SP001', 12, 12.0000)
INSERT [dbo].[ChiTietNhapkho] ([MaChiTietNhapKho], [MaNhapKho], [MaSanPham], [SoLuong], [GiaNhap]) VALUES (N'NK221206002', N'PN221206001', N'SP002', 12, 23.0000)
INSERT [dbo].[ChiTietNhapkho] ([MaChiTietNhapKho], [MaNhapKho], [MaSanPham], [SoLuong], [GiaNhap]) VALUES (N'NK221206003', N'PN221206002', N'SP001', 12, 2.0000)
GO
INSERT [dbo].[ChucVu] ([MaChucVu], [TenChucVu]) VALUES (N'user', N'Nhân Viên')
INSERT [dbo].[ChucVu] ([MaChucVu], [TenChucVu]) VALUES (N'admin', N'Quản Lí')
GO
INSERT [dbo].[DatPhong] ([MaPhieuDat], [MaLoaiPhong], [LoaiKhach], [MaNhanVien], [NgayTao], [NgayDen], [NgayDi], [TenKhachHang], [SoLuongKhach], [SoDienThoai], [GhiChu], [TienCoc], [TrangThai]) VALUES (N'DP221205001', N'LP001', N'Khách Đơn', N'NV000', CAST(N'2022-12-05T10:26:00.000' AS DateTime), CAST(N'2022-12-05T00:00:00.000' AS DateTime), CAST(N'2022-12-05T00:00:00.000' AS DateTime), N'uiiu', 87, N'87987', N'', 7987987.0000, N'Không Phòng')
INSERT [dbo].[DatPhong] ([MaPhieuDat], [MaLoaiPhong], [LoaiKhach], [MaNhanVien], [NgayTao], [NgayDen], [NgayDi], [TenKhachHang], [SoLuongKhach], [SoDienThoai], [GhiChu], [TienCoc], [TrangThai]) VALUES (N'DP221206200852', N'LP001', N'Khách Đơn', N'NV000', CAST(N'2022-12-06T20:08:00.000' AS DateTime), CAST(N'2022-12-06T12:00:00.000' AS DateTime), CAST(N'2022-12-09T23:00:00.000' AS DateTime), N'hdjk', 79, N'8798', N'', 0.0000, N'Không Phòng')
GO
INSERT [dbo].[LoaiPhong] ([MaLoaiPhong], [TenLoaiPhong], [GiaGio], [GiaNgay], [SoGiuong], [SoNguoi]) VALUES (N'LP001', N'Phòng Đơn', NULL, NULL, 1, 2)
INSERT [dbo].[LoaiPhong] ([MaLoaiPhong], [TenLoaiPhong], [GiaGio], [GiaNgay], [SoGiuong], [SoNguoi]) VALUES (N'LP002', N'Phòng Đôi Nhỏ', NULL, NULL, 2, 2)
INSERT [dbo].[LoaiPhong] ([MaLoaiPhong], [TenLoaiPhong], [GiaGio], [GiaNgay], [SoGiuong], [SoNguoi]) VALUES (N'LP003', N'Phòng Lớn Nhỏ', NULL, NULL, 2, 3)
GO
INSERT [dbo].[LoaiSanPham] ([MaLoaiSanPham], [TenLoaiSanPham]) VALUES (N'ML003', N'Di Chuyển')
INSERT [dbo].[LoaiSanPham] ([MaLoaiSanPham], [TenLoaiSanPham]) VALUES (N'ML001', N'Đồ Uống')
INSERT [dbo].[LoaiSanPham] ([MaLoaiSanPham], [TenLoaiSanPham]) VALUES (N'ML002', N'Thức Ăn')
GO
INSERT [dbo].[LoaiTienChi] ([MaLoaiTienChi], [TenLoaiTienChi]) VALUES (N'MC002', N'Level Up')
INSERT [dbo].[LoaiTienChi] ([MaLoaiTienChi], [TenLoaiTienChi]) VALUES (N'MC003', N'Limited')
INSERT [dbo].[LoaiTienChi] ([MaLoaiTienChi], [TenLoaiTienChi]) VALUES (N'MC001', N'Upgrade')
GO
INSERT [dbo].[NhapKho] ([MaNhapKho], [MaNhanVien], [NgayTao], [GhiChu]) VALUES (N'PN221206001', N'NV000', CAST(N'2022-12-06T09:18:00.000' AS DateTime), N'First')
INSERT [dbo].[NhapKho] ([MaNhapKho], [MaNhanVien], [NgayTao], [GhiChu]) VALUES (N'PN221206003', N'NV000', CAST(N'2022-12-06T09:19:00.000' AS DateTime), N'Three')
INSERT [dbo].[NhapKho] ([MaNhapKho], [MaNhanVien], [NgayTao], [GhiChu]) VALUES (N'PN221206143752', N'NV000', CAST(N'2022-12-06T14:37:00.000' AS DateTime), N'')
GO
INSERT [dbo].[PhieuChi] ([MaPhieuChi], [MaLoaiTienChi], [TienChi], [MaPhuongThuc], [GhiChu], [NgayTao], [MaNhanVien]) VALUES (N'MC221206002', N'MC001', 1234.0000, N'bank', N'No Message', CAST(N'2022-12-06T08:33:00.000' AS DateTime), N'NV000')
INSERT [dbo].[PhieuChi] ([MaPhieuChi], [MaLoaiTienChi], [TienChi], [MaPhuongThuc], [GhiChu], [NgayTao], [MaNhanVien]) VALUES (N'MC221206003', N'MC001', 1122.0000, N'bank', N'Can Not Be Blank', CAST(N'2022-12-06T08:35:00.000' AS DateTime), N'NV000')
INSERT [dbo].[PhieuChi] ([MaPhieuChi], [MaLoaiTienChi], [TienChi], [MaPhuongThuc], [GhiChu], [NgayTao], [MaNhanVien]) VALUES (N'MC221206004', N'MC001', 99.0000, N'bank', N'Up Skill', CAST(N'2022-12-06T08:36:00.000' AS DateTime), N'NV000')
GO
INSERT [dbo].[PhieuDichVu] ([MaPhieuDichVu], [MaPhieuThue], [MaNhanVien], [NgayTao], [GhiChu], [TrangThaiThanhToan]) VALUES (N'DV221207141808', N'PT221207095601', N'NV000', CAST(N'2022-12-07T14:18:00.000' AS DateTime), N'', 0)
INSERT [dbo].[PhieuDichVu] ([MaPhieuDichVu], [MaPhieuThue], [MaNhanVien], [NgayTao], [GhiChu], [TrangThaiThanhToan]) VALUES (N'DV221207141817', N'PT221207095601', N'NV000', CAST(N'2022-12-07T14:18:00.000' AS DateTime), N'', 0)
INSERT [dbo].[PhieuDichVu] ([MaPhieuDichVu], [MaPhieuThue], [MaNhanVien], [NgayTao], [GhiChu], [TrangThaiThanhToan]) VALUES (N'DV221207141838', N'PT221207095601', N'NV000', CAST(N'2022-12-07T14:18:00.000' AS DateTime), N'', 0)
GO
INSERT [dbo].[Phong] ([MaPhong], [TenPhong], [MaTang], [MaLoaiPhong], [MaTrangThaiPhong]) VALUES (N'MP101', N'101', N'TS001', N'LP001', N'TraPhong')
INSERT [dbo].[Phong] ([MaPhong], [TenPhong], [MaTang], [MaLoaiPhong], [MaTrangThaiPhong]) VALUES (N'MP102', N'102', N'TS001', N'LP001', N'PhongTrong')
INSERT [dbo].[Phong] ([MaPhong], [TenPhong], [MaTang], [MaLoaiPhong], [MaTrangThaiPhong]) VALUES (N'MP103', N'103', N'TS001', N'LP002', N'PhongTrong')
GO
INSERT [dbo].[PhuongThucThanhToan] ([MaPhuongThuc], [TenPhuongThuc]) VALUES (N'bank', N'Ngân Hàng')
INSERT [dbo].[PhuongThucThanhToan] ([MaPhuongThuc], [TenPhuongThuc]) VALUES (N'cash', N'Tiền Mặt')
GO
INSERT [dbo].[SanPham] ([MaSanPham], [TenSanPham], [MaLoaiSanPham], [DonViTinh], [GiaBan], [NgayTao]) VALUES (N'SP001', N'7Up', N'ML001', N'Chai', 1.0000, CAST(N'2022-11-28T10:32:00.000' AS DateTime))
INSERT [dbo].[SanPham] ([MaSanPham], [TenSanPham], [MaLoaiSanPham], [DonViTinh], [GiaBan], [NgayTao]) VALUES (N'SP002', N'Coca', N'ML001', N'Chai', 9000.0000, CAST(N'2022-11-28T10:33:00.000' AS DateTime))
INSERT [dbo].[SanPham] ([MaSanPham], [TenSanPham], [MaLoaiSanPham], [DonViTinh], [GiaBan], [NgayTao]) VALUES (N'SP003', N'PepSi', N'ML001', N'Chai', 9000.0000, CAST(N'2022-11-28T10:33:00.000' AS DateTime))
GO
INSERT [dbo].[TaiKhoan] ([MaTaiKhoan], [MaNhanVien], [TenDangNhap], [MatKhau], [CheckDangNhap], [TimeLogIn], [TimeLogOut]) VALUES (N'TK000', N'NV000', N'mrpii.2k3@gmail.com', N'minhphat64647428', 1, NULL, NULL)
INSERT [dbo].[TaiKhoan] ([MaTaiKhoan], [MaNhanVien], [TenDangNhap], [MatKhau], [CheckDangNhap], [TimeLogIn], [TimeLogOut]) VALUES (N'TK002', N'NV002', N'mphat7428@gmail.com', N'123', 0, NULL, NULL)
INSERT [dbo].[TaiKhoan] ([MaTaiKhoan], [MaNhanVien], [TenDangNhap], [MatKhau], [CheckDangNhap], [TimeLogIn], [TimeLogOut]) VALUES (N'TK221206142752', N'NV999', N'phattmpk02575@fpt.edu.vn', N'minhphat64647428', 0, NULL, NULL)
GO
INSERT [dbo].[Tang] ([MaTang], [TenTang]) VALUES (N'TS001', N'Tầng 1')
INSERT [dbo].[Tang] ([MaTang], [TenTang]) VALUES (N'TS002', N'Tầng 2')
INSERT [dbo].[Tang] ([MaTang], [TenTang]) VALUES (N'TS003', N'Tầng 3')
GO
INSERT [dbo].[ThuePhong] ([MaPhong], [MaPhieuThue], [MaNhanVien], [NgayTao], [NgayDen], [NgayDi], [CMND], [TenKhachHang], [SoLuongKhach], [GhiChu], [TienCoc], [GiamGia], [HinhAnh], [TrangThaiThanhToan]) VALUES (N'MP101', N'PT221208162536', N'NV000', CAST(N'2022-12-08T16:25:00.000' AS DateTime), CAST(N'2022-12-08T16:25:00.000' AS DateTime), CAST(N'2022-12-08T16:26:00.000' AS DateTime), N'1', N'a', 1, N'', 0.0000, 0.0000, NULL, 1)
INSERT [dbo].[ThuePhong] ([MaPhong], [MaPhieuThue], [MaNhanVien], [NgayTao], [NgayDen], [NgayDi], [CMND], [TenKhachHang], [SoLuongKhach], [GhiChu], [TienCoc], [GiamGia], [HinhAnh], [TrangThaiThanhToan]) VALUES (N'MP101', N'PT221208162626', N'NV000', CAST(N'2022-12-08T16:26:00.000' AS DateTime), CAST(N'2022-12-08T16:26:00.000' AS DateTime), CAST(N'2022-12-08T16:26:00.000' AS DateTime), N'2', N'b', 1, N'', 0.0000, 0.0000, NULL, 1)
INSERT [dbo].[ThuePhong] ([MaPhong], [MaPhieuThue], [MaNhanVien], [NgayTao], [NgayDen], [NgayDi], [CMND], [TenKhachHang], [SoLuongKhach], [GhiChu], [TienCoc], [GiamGia], [HinhAnh], [TrangThaiThanhToan]) VALUES (N'MP101', N'PT221208162713', N'NV000', CAST(N'2022-12-08T16:27:00.000' AS DateTime), CAST(N'2022-12-08T16:27:00.000' AS DateTime), CAST(N'2022-12-08T19:58:00.000' AS DateTime), N'3', N'c', 1, N'', 0.0000, 20.0000, NULL, 0)
GO
INSERT [dbo].[TrangThaiPhong] ([MaTrangThaiPhong], [TenTrangThaiPhong]) VALUES (N'CoKhach', N'Có Khách')
INSERT [dbo].[TrangThaiPhong] ([MaTrangThaiPhong], [TenTrangThaiPhong]) VALUES (N'DatTruoc', N'Đặt Trước')
INSERT [dbo].[TrangThaiPhong] ([MaTrangThaiPhong], [TenTrangThaiPhong]) VALUES (N'PhongTrong', N'Phòng Trống')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__ChucVu__A7E2123E444B933E]    Script Date: 12/8/2022 21:54:43 ******/
ALTER TABLE [dbo].[ChucVu] ADD UNIQUE NONCLUSTERED 
(
	[TenChucVu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__LoaiPhon__2508179CFD53238A]    Script Date: 12/8/2022 21:54:43 ******/
ALTER TABLE [dbo].[LoaiPhong] ADD UNIQUE NONCLUSTERED 
(
	[TenLoaiPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__LoaiSanP__FD39E6056810AB25]    Script Date: 12/8/2022 21:54:43 ******/
ALTER TABLE [dbo].[LoaiSanPham] ADD UNIQUE NONCLUSTERED 
(
	[TenLoaiSanPham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__LoaiTien__88ECE3326FC5ACE2]    Script Date: 12/8/2022 21:54:43 ******/
ALTER TABLE [dbo].[LoaiTienChi] ADD UNIQUE NONCLUSTERED 
(
	[TenLoaiTienChi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__NhanVien__0389B7BD2A0FDD32]    Script Date: 12/8/2022 21:54:43 ******/
ALTER TABLE [dbo].[NhanVien] ADD UNIQUE NONCLUSTERED 
(
	[SoDienThoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__NhanVien__F67C8D0B5C6D8BD3]    Script Date: 12/8/2022 21:54:43 ******/
ALTER TABLE [dbo].[NhanVien] ADD UNIQUE NONCLUSTERED 
(
	[CMND] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Phong__AE382B297A25510D]    Script Date: 12/8/2022 21:54:43 ******/
ALTER TABLE [dbo].[Phong] ADD UNIQUE NONCLUSTERED 
(
	[TenPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__PhuongTh__B139DAA69CCFB53B]    Script Date: 12/8/2022 21:54:43 ******/
ALTER TABLE [dbo].[PhuongThucThanhToan] ADD UNIQUE NONCLUSTERED 
(
	[TenPhuongThuc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__SanPham__FCA804690CA95BF1]    Script Date: 12/8/2022 21:54:43 ******/
ALTER TABLE [dbo].[SanPham] ADD UNIQUE NONCLUSTERED 
(
	[TenSanPham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__TaiKhoan__55F68FC09DEE52C1]    Script Date: 12/8/2022 21:54:43 ******/
ALTER TABLE [dbo].[TaiKhoan] ADD UNIQUE NONCLUSTERED 
(
	[TenDangNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Tang__94C2B28F1A3C462F]    Script Date: 12/8/2022 21:54:43 ******/
ALTER TABLE [dbo].[Tang] ADD UNIQUE NONCLUSTERED 
(
	[TenTang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__TrangTha__033A2942AE690EF3]    Script Date: 12/8/2022 21:54:43 ******/
ALTER TABLE [dbo].[TrangThaiPhong] ADD UNIQUE NONCLUSTERED 
(
	[TenTrangThaiPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
